{% extends "base.html" %}

<!-- the part of other link-->
{% block link %}
<link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/other/bootstrap-3.3.5/css/buttons.css">
<link rel="stylesheet" href="/static/other/poshytip/tip-violet/tip-violet.css">


{% endblock %}
<!-- the part of title -->
{% block title %}
omret
{% endblock %}

<!-- the body part -->
{% block body %}
<div id="status">{{status}}</div>
<div class="container-fluid">
    <div class="row-fluid">
	<div class="span12">
	    <div class="navbar navbar-inverse navbar-default" id="navbar">
		<div class="container">
		    <div class="navbar-header">
			<a class="navbar-brand" href="/userhome/"><strong>Omret</strong>&nbsp;<small>beta</small></a>
		    </div>
		    <div class="collapse navbar-collapse">
			<form class="navbar-form navbar-right" method="post">
			  {% csrf_token %}
			    <!-- this is login form -->
			    <!--
			    <div class="form-group">
				<input type="text" placeholder="Email or Username" class="form-control">
			    </div>
			    <div class="form-group">
				<input type="password" placeholder="Password" class="form-control">
			    </div>
			    -->
			    <div class="form-group">
				{{login_form.account}}
			    </div>
			    <div class="form-group">
				{{login_form.password}}
			    </div>
			    <label id="rememberme" class="checkbox">
				<input type="checkbox" name="rmbme" value="rmbme"/>
				记住我
			    </label>
			    
			    <button id="login_button" type="submit" class="btn btn-success">登陆</button>
			</form>
		    </div>
		</div>
	    </div>
	    <!-- this is middle part -->
	    <div class="jumbotron" id="middle">
		<h1>Welcome to Omret!<br></h1>
		<p><br>Let's have FUN!!</p>
		<a href="/signup/" class="button button-3d button-primary button-rounded" id="signupbutton">Sign Up</a>
	    </div>

	    <!-- this is bottom part -->
	    <div class="row">
		<div class="col-md-6">
	
		    <div id="aboutus">
			<h3>About Us</h3>
			<p>Programmer: Terry</p>
			<p>Art Designer: Monnie</p>
		    </div>
		</div>
		<div class="col-md-6">
		    <div id="address">
			<h3>Address</h3>
			<address><strong>Terry</strong><br>
			    Soochow,China<br>
			    <abbr title="Email">Email:</abbr>terry_love_c@sina.com
			</address>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>
<script type="text/javascript" src="static/other/poshytip/jquery.poshytip.min.js"></script>

<script type="text/javascript">
 $(function(){
     s=$("#status").text();
     if(s == 'error'){
	 //$("#login-account").closest(".form-group").addClass("has-error");
 	 //$("#login-password").closest(".form-group").addClass("has-error");
	 
	 $("#login-account").poshytip({
	     className:'tip-violet',
	     showOn:'none',
	     bgImageFrameSize: 9,
	     alignTo:'target',
	     alignX:'inner-right',
	     alignY:'buttom',
	     showTimeout:100,
	     content:'用户名或密码错误!'
	 });
	 
	 $("#login-account").poshytip("show");
	 
	 $("#login-account").click(function(){
	     $(this).poshytip("hide");
	 });
	 $("#login-password").click(function(){
	     $(this).poshytip("hide");
	 });
     }
     else{
     }

 });
</script>
{% endblock %}
