{% extends "base.html" %}

<!-- the part of other link-->
{% block link %}
<link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/other/bootstrap-3.3.5/css/buttons.css">
<link rel="stylesheet" href="/static/other/poshytip/tip-violet/tip-violet.css">
<link rel="stylesheet" href="/static/css/omretuser/userbase.css">


{% endblock %}
<!-- the part of title -->
{% block title %}
omret
{% endblock %}

<!-- the body part -->
{% block body %}
<div id="status">{{status}}</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="navbar" id="navbar">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/userhome/"><strong>Omret</strong>&nbsp;<small>beta</small></a>
					</div>
					<div class="collapse navbar-collapse">
						<form class="navbar-form navbar-right" method="post">
							{% csrf_token %}
							<!-- this is login form -->
							<!--
							<div class="form-group">
							<input type="text" placeholder="Email or Username" class="form-control">
							</div>
							<div class="form-group">
							<input type="password" placeholder="Password" class="form-control">
							</div>
							-->
							<div class="form-group">
							{{login_form.account}}
							</div>
							<div class="form-group">
							{{login_form.password}}
							</div>
							<label id="rememberme" class="checkbox">
								<input type="checkbox" name="rmbme" value="rmbme"/>
								记住我
							</label>
					
							<button id="login_button" type="submit" class="btn btn-success">登陆</button>
						</form>
					</div>
				</div>
			</div>
			
			<!-- this is middle part -->
			<div class="jumbotron-div jumbotron" id="middle">
				<h1>Omret</h1>
				<h2>简单交流，高效学习，只为技术提升</h2>
				<a href="/signup/" class="btn btn-success btn-shadow" id="signupbutton">注册（It's free）</a>
			</div>

			<div class="featurette">
				<div class="columns">
					<div class="one-third column">
						<h3 style="line-height: 1.2;" class="display-heading-3">omret简单介绍<br class="d-none-sm-dn"></h3>
					</div>
					<div class="two-thirds column">
						<p class="mt-2 mb-0">Omret中的所有内容都是开放的，我们想要提供一个自由便捷的技术平台。 <a href="/signup/">Sign&nbsp;up</a>&nbsp;，开始Omret之旅！或者可以点击页脚中的关于我们，以获得更多有关Omret的信息。</p>
					</div>
				</div>
			</div>
			
			<!-- this is bottom part -->
			<div class="container projects">
				<div class="projects-header">
					<h2>Omret功能介绍</h2>
					<p>Omret包括：</p>
				</div>

				<div class="row">
					<div class="project-div">
						<div class="thumbnail" style="height: 336px;">
							<a ><img width="300" height="150" alt="分享"  src="http://static.bootcss.com/www/assets/img/codeguide.png" class="lazy"></a>
							<div class="caption">
								<h3>
									<a title="">分享<br><small>分享技术文章</small></a>
								</h3>
								<p>
									编写技术文章，分享技术探索过程中的小成就、或是解决问题的过程。
								</p>
							</div>
						</div>
					</div>

					<div class="project-div">
						<div class="thumbnail" style="height: 336px;">
							<a title="交流"><img width="300" height="150" alt="交流" src="http://static.bootcss.com/www/assets/img/jqueryapi.png" class="lazy"></a>
							<div class="caption">
								<h3>
									<a title="交流">交流<br><small>交流探讨问题</small></a>
								</h3>
								<p>
									在Omret中除了分享专业的技术文章，当然如果你在技术探索过程中遇到任何问题你都可以在Omret中提出来与大家探讨交流。
								</p>
							</div>
						</div>
					</div>

					<div class="project-div">
						<div class="thumbnail" style="height: 336px;">
							<a title="精选"><img width="300" height="150" alt="精选"src="http://static.bootcss.com/www/assets/img/w3schools.png" class="lazy"></a>
							<div class="caption">
								<h3>
									<a title="w3schools 原版国内镜像">精选<br><small>整理精选文章</small></a>
								</h3>
								<p>Omret会整理各个技术领域的精选文章，阅读优秀文章会让技术提升的更快速。
								</p>
							</div>
						</div>
					</div>


					<div class="project-div">
						<div class="thumbnail" style="height: 336px;">
							<a  title="专题"><img alt="专题" src="http://static.bootcss.com/www/assets/img/expo.png" class="lazy"></a>
							<div class="caption">
								<h3>
									<a title="Bootstrap优站精选">专题<br><small>每月技术专题</small></a>
								</h3>
								<p>Omret每月会整理某个技术的专题，整合资源。包括入门教程、资源链接，让你快速学习掌握新的技能。
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer">
    <div class="row">
        <div id="footer-left" class="col-md-5 col-xs-5">
            <p>&copy; 2015-2016 Omret&nbsp;&nbsp;审查号 XXXXXXXXX</p>
        </div>
        <img id="footer-logo" src="/static/img/footerlogo.jpg" width="32px" height="32px">

        <div id="footer-right" class="col-md-5 col-xs-5">
            <p><a href="/index/">首页</a> | <a href="/aboutus/">关于我们</a> | <a href="Mailto:terry_love_c@sina.com">意见反馈</a> | <a href="/protocol/">Omret协议</a></p>
        </div>
    </div>
</div>
<script type="text/javascript" src="static/other/poshytip/jquery.poshytip.min.js"></script>

<script type="text/javascript">
 $(function(){
     s=$("#status").text();
     if(s == 'error'){
	 //$("#login-account").closest(".form-group").addClass("has-error");
 	 //$("#login-password").closest(".form-group").addClass("has-error");
	 
	 $("#login-account").poshytip({
	     className:'tip-violet',
	     showOn:'none',
	     bgImageFrameSize: 9,
	     alignTo:'target',
	     alignX:'inner-right',
	     alignY:'buttom',
	     showTimeout:100,
	     content:'用户名或密码错误!'
	 });
	 
	 $("#login-account").poshytip("show");
	 
	 $("#login-account").click(function(){
	     $(this).poshytip("hide");
	 });
	 $("#login-password").click(function(){
	     $(this).poshytip("hide");
	 });
     }
     else{
     }

 });
</script>
{% endblock %}
