{% extends "usersettings.html" %}

{% block settings_link %}
    <link rel="stylesheet" href="/static/css/omretuser/profileset.css">
    <script type="text/javascript" src="/static/other/datetimepicker/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/static/other/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="/static/other/datetimepicker/bootstrap-datetimepicker.css">
    
{% endblock %}

{% block settings_body %}
<div id="profilecontent">
    <div id="settingtitle">
	个人资料设置
    </div>
    <div id="settingcontent">
	<form class="form-horizontal" method="post">
	  {% csrf_token %}
	    <label class="control-label">真实姓名</label>
	    <div class="form-group">
		{{profile_form.realname}}
	    </div>
	    <label class="control-label">姓别</label>
	    <div class="form-group" id="sexform">
		{% for radio in profile_form.sex %}
		<label class="radio-inline">
		    {{ radio.tag }}
		    {{ radio.choice_label }}
		</label>
		{% endfor %}
	    </div>
	    <label class="control-label">出生年月</label>
	   
	    <div class="input-group date timepicker" id="birthdayform">		
	
		<span class="input-group-addon">
		    <i class="glyphicon glyphicon-calendar">
		    </i>
		</span>
		{{ profile_form.birthday }}
	    </div>

	    <label class="control-label">签名</label>
	    <div class="form-group">
		{{profile_form.signature}}
	    </div>
	    <label class="control-label">个人简介</label>
	    <div class="form-group">
		{{profile_form.resume}}
	    </div>

	</form>
    </div>
</div>
{% endblock %}
{% block body_script %}

<script>
    $('.timepicker').datetimepicker({
    format:'yyyy-mm-dd',
    language:'zh-CN',
    autoclose:1,
    todayHighlight:1,
    startView:4,
    minView:2,
    maxView:4,
    todayBtn:true,
    pickerPosition:'bottom-right'
    });
</script>

{% endblock %}