{% extends "userbase.html" %}

{% block link %}
<link rel="stylesheet" href="/static/css/omretuser/usersettings.css">
{% endblock %}

{% block title %}
Settings
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4">
	<div >
	    <div>
		<ul id="navi">
		    <li id="nav_title">个人设置</li>
		    <li id="active"><a href="#">个人资料</a></li>
		    <li><a href="#">安全设置</a></li>
		</ul>
	    </div>
	</div>
    </div>
    <div class="col-md-8">
	<div>
	    
	</div>                                                            
    </div>
</div>

{% endblock %}
{% block body_script %}

{% endblock %}
