{% extends "userbase.html" %}

{% block link %}
<link rel="stylesheet" href="/static/css/omretuser/usersettings.css">
{% endblock %}

{% block title %}
Settings
{% endblock %}

{% block body %}
<div class="row-fluid">
    <div class="span4">
	<div >
	    <nav class="nav-collapse">
		<ul>
		    <li>
			个人设置
		    </li>
		    <li>
			个人资料
		    </li>
		    <li>
			安全设置
		    </li>
		</ul>
	    </nav>
	</div>
    </div>
    <div class="span8">
	<div>
	   
	</div>                                                            
    </div>
</div>

{% endblock %}
{% block body_script %}
<script>
    var navigation = responsiveNav(".nav-collapse");
</script>
{% endblock %}
