<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- 
      <meta name="viewport" content="width=device-width,initial-scale=1">
      -->
      <meta name="description" content="omretuser">
      <meta name="author" content="terry">
      <!-- bootstrap core css -->
      <link rel="stylesheet" href="/static/bootstrap-3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/bootstrap-3.3.5/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="/static/css/omretuser/userbase.css"> 
      <script src="/static/js/jquery-1.11.3.min.js"></script>
      <script src="/static/js/jquery-2.1.4.min.js"></script>
      <link rel="stylesheet" href="/static/bootstrap-3.3.5/css/non-responsive.css">

      {% block link %}{% endblock %}
      <title>
	{% block title %}{% endblock %}
      </title>
    </head>
    <body>
      <div class="container-fluid">
	<div class="span12">
	    <div id="omretnavbar" class="navbar navbar-inverse navbar-default">
		<div class="container">
		    <div class="navbar-header">
			<a class="navbar-brand" href="/index/">
			    <strong>Omret</strong>&nbsp;<small>beta</small>
			</a>
		    </div>
		    <div class="navbar-right">
			<div id="nav_popupmenu" class="dropdown">
			    <a href="#" id="username" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{username}}<span class="caret"></span></a>
			    <ul class="dropdown-menu">
				<li><a href="#">个人信息</a></li>
				<!--<li role="separator" class="divider"></li>-->
				<li><a href="/settings/profile/">设置</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="/logout">退出登陆</a></li>
			    </ul>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	{% block body %}{% endblock %}
      </div>
  
      <!-- bootstrap core js -->
      <script src="/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
      {% block body_script %}{% endblock %}
    </body>
</html>
