{% extends "userbase.html" %}

{% block link %}
    <link rel="stylesheet" href="/static/css/omretuser/usersettings.css">
    {% block settings_link %}
    {% endblock %}
{% endblock %}

{% block title %}
    Settings
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3 col-xs-3">
            <div>
                <div>
                    <ul id="navi">
                        <li id="nav_title">个人设置</li>
                        <a href="/settings/profile/">
                            <li id="profile_li">个人资料</li>
                        </a>
                        <a href="/settings/security/">
                            <li id="security_li">安全设置</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-xs-9">
            {% block settings_body %}
            {% endblock %}
            <!--
          <div id="setting_content">
              <div class="omret-setting">

              </div>
          </div>
              -->
        </div>
    </div>

{% endblock %}
{% block body_script %}

{% endblock %}
