#profile_li{
    color:#ffffff;
    background-color:#337ab7;
}

#navi #profile_li:hover{
    color:#ffffff;
    background-color:#337ab7;
}

#change_status {
    display:none;
}

#profilecontent {
    border-style:solid;
    border-width:1px;
    border-color:#d8d8d8;
    border-radius:4px;
    margin-right:50px;
    margin-bottom:80px;
}

#settingtitle {
    padding-top:10px;
    padding-bottom:10px;
    padding-left:50px;
    border-bottom-style:solid;
    border-width:1px;
    border-bottom-color:#d8d8d8;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    font-weight:bold;
    background-color:#f7f7f7;
}

#settingcontent {
    margin-top:30px;
    margin-bottom:30px;
    margin-left:30px;
    margin-right:300px;
}

#birthdayform {
    width:160px;
    margin-bottom:15px
}

#sexform{
    padding-left:30px;
}

.form-group{
    padding-left:15px;
}

.control-label{
    padding-left:15px;
}

#alertpart{
    margin-bottom:5px;
    margin-right:50px;
}