#profile_li{
    color:#ffffff;
    background-color:#337ab7;
}

#navi #profile_li:hover{
    color:#ffffff;
    background-color:#337ab7;
}

#profilecontent {
    border-style:solid;
    border-width:1px;
    border-color:#d8d8d8;
    border-radius:4px;
    margin-right:50px;
    margin-bottom:80px;
}

#birthdayform {
    width:160px;
    margin-bottom:15px
}

#sexform{
    padding-left:30px;
}

#alertpart{
    margin-right:50px;
}