#nav_popupmenu #username {
    color:#ffffff;
}

.navbar-right {
    margin:0 auto;
}

#nav_popupmenu{
    line-height:50px;
}

#username:hover{
    text-decoration:none;
}

#username{
    text-decoration:none;
}

.container-fluid{
    padding:0px;
}

#omretnavbar{
    border:0px;
    padding:0px;
    border-radius:0px;
    margin-bottom:0px;
}

.row{
    margin:0px;
}

#footer{
    background-color:#265a88;
    height: 130px;
    margin-top: 50px;
    padding-top:50px;
    padding-bottom:50px;
    text-align: center;
}

#footer-left{
    padding-left:60px;
    float: left;
}

#footer-right{
    padding-right:60px;
    float:right;
}

#footer p{
    color: #f5f5f5;
}

#footer a{
    text-decoration: none;
    color:#f5f5f5;
}

#footer a:hover{
    text-decoration: underline;
}

#footer-logo{

}