#nav_popupmenu #username {
    color:#ffffff;
}

.navbar-right {
    margin:0 auto;
}

#nav_popupmenu{
    line-height:50px;
}

#username:hover{
    text-decoration:none;
}

#username{
    text-decoration:none;
}