#navi li{
    list-style-type:none;
    padding-left:30px;
    padding-top:10px;
    padding-bottom:10px;    
}

#navi a:hover{
    text-decoration:none;
}

#navi{
    border-style:solid;
    border-width:1px;
    border-color:#d8d8d8;
    border-radius:4px;
    margin-left:50px;
    margin-right:30px;
}

ul{
    padding-left:0px;
}

#navi #nav_title{
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    font-weight:bold;
    background-color:#f7f7f7;
}

#navi #active {
    color:#ffffff;
    background-color:#337ab7;
}

#navi li:hover{
    background-color:#f7f7f7;
}

.omret-setting{
    border-style:solid;
    border-width:1px;
    border-color:#d8d8d8;
   
}
