#nav_popupmenu #username {
    color:#ffffff;
}

.navbar-right {
    margin:0 auto;
}

#nav_popupmenu{
    line-height:50px;
}

#username:hover{
    text-decoration:none;
}

#username{
    text-decoration:none;
}

.container-fluid{
    padding:0px;
}

#omretnavbar{
    border:0px;
    padding:0px;
    border-radius:0px;
    margin-bottom:0px;
}

.row{
    margin:0px;
}