#container {
    padding-top: 30px;
}

/* head part of new */
#new_container {
    border: solid;
    border-width: 1px;
    border-color: #265a88;
    border-radius: 4px;
}

#new_headpart {
    padding-top: 30px;
    padding-bottom: 30px;
    /*background-color:#4cb0f9;*/
}

#new_title {
    font-size: 35px;
    font-weight: 700;
    padding-left: 30px;
    word-break:break-all;
}

#new_author {
    padding-left: 30px;
}

#new_subtime {
    padding-left: 30px;
}

#new_content {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    /*background-color: #b2dba1;*/
    padding-bottom: 50px;
}

/* quickly reply part */
#replypart {
    margin-top: 50px;
    margin-bottom: 30px;
}

#newcomment:focus {
    outline: none;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #265a88;
}

#newcomment {
    height: 100px;
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #265a88;
}

/* comment part */
#commentitem {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    border-color: #d8d8d8;
    border-style: solid;
}

#commentuser {
    font-weight: bold;
    margin-bottom: 4px;
}

#commentcontent {
    margin-bottom: 4px;
    word-break:break-all;
}

.replycomment{
    color:#006dcc;
}

.replycomment:hover{
    text-decoration: underline;
}

/* chats part */
#newchat {
    width:100%;
    height:35px;
    border-radius: 4px;
    border-width: 1px;
    border-style:solid;
    border-color:#d8d8d8;
    padding-left:15px;
    padding-top:6px;
    paddomg-bottom:6px;
    padding-right:15px;
}

#newchat:focus{
    outline:none;
    padding-left:15px;
    padding-top:6px;
    padding-bottom:6px;
    padding-right:15px;
}

#chatspart{
    border-radius: 2px;
    border-width: 1px;
    border-style:solid;
    border-color:#d8d8d8;

    display:none;
}

#chatitem{
    padding-top:5px;
    padding-bottom:5px;
    border-bottom-style: solid;
    border-bottom-color: #d8d8d8;
    border-bottom-width: 1px;
}

#chatmenu{
    padding-left:16px;
}

#chatcontent{
    word-break:break-all;
}

#chatreply_button{
    float: right;
    margin-bottom:9px;
}

#chatformgroup{
    margin-top:8px;
    margin-bottom:3px;
}

#chatcancle{
    float:right;
    padding-left:10px;
    padding-right:18px;
    font-size: 13px;
    font-style: normal;
    color:#006dcc;
    padding-top:6px;
}

#chatcancle:hover{
    text-decoration: underline;
    cursor:pointer;
}

