#container{
    padding-top:30px;
}

/* head part of new */
#new_container{
    border: solid;
    border-width: 1px;
    border-color: #265a88;
    border-radius: 4px;
}

#new_headpart {
    padding-top:30px;
    padding-bottom:30px;
    /*background-color:#4cb0f9;*/
}

#new_title{
    font-size: 35px;
    font-weight: 700;
    padding-left: 30px;
}

#new_author{
    padding-left:30px;
}

#new_subtime{
    padding-left:30px;
}

#new_content{
    padding-left:25px;
    padding-right:25px;
    padding-top:20px;
    /*background-color: #b2dba1;*/
    padding-bottom:50px;
}

/* quickly reply part */
#replypart{
    margin-top:50px;
}

#newcomment:focus{
    outline:none;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #265a88;
}

#newcomment{
    height: 100px;
    width:100%;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #265a88;
}

