#content-part {
    margin-left:100px;
    margin-right:500px;
    border-style:solid;
    border-width:1px;
    border-color:#d8d8d8;
    border-radius:4px;
}

#content-part {
    margin-top:30px;
    margin-bottom:30px;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:30px;
    background:#f8f8f8;
}

#topicselector {
    width: 150px;
}

#postarti-button{
    margin-top:20px;
}

/* the part of rich eddtor */
#omrettinymce{
    border-style:solid;
    border-width:1px;
    border-color:#d8d8d8;
    border-radius: 4px;

}

.modaltext{
    font-weight: bold;
    color: #006dcc;
}

.modaltext:hover{
    text-decoration: underline;
    cursor:pointer;
}

#referimage_content{
    display: none;
}

