#email-container{
    background:#333366;
    width:100%;
    height:659px;
    position:relative;
    
}

#outcontainer{
    padding:0px;
}

#cloud{
    background-image:url(/static/img/cloud.png);
    height:93px;
    width:100%;
    background-repeat:repeat-x;
    position:absolute;
    bottom:0px;
    margin-bottom:57px;
    z-index:100;
}

#cloudback{
    height:58px;
    width:100%;
    position:absolute;
    bottom:0px;
    z-index:90;
    background:#ebeff2;
}

#description{
    color:#ebeff2;
    margin-top:135px;
    margin-right:300px;
}

#description h1{
    font-size:60px;
}

#description p{
    font-size:18px;
    line-height:26px;
}
