{% extends "userbase.html" %}

{% block link %}
<link rel="stylesheet" href="/static/css/omretnews/index.css">
{% endblock %}

{% block title %}
Index
{% endblock %}

{% block body %}
<div class="progress">
</div>
<div id="topicintro">
</div>
<div id="indexcontainer">
    <div id="datapart" class="col-md-2 col-xs-2">
	<div id="signal_list">
	    <ul>
		{% for topic in topiclist %}
		
		    <li class="row">
			
			<div class="colorsignal pull-left" style="background:{{topic.color}}"></div>
			<div id="topicname" class="pull-left"><p>{{topic.name}}</p></div>
			
		    </li>
	
		{% endfor %}
	    </ul>
	</div>
    </div>
    <div id="newspart" class="col-md-7 col-xs-7">
	<div>
	  <ul id="navtabs" class="nav nav-tabs">
	      <li role="presentation" class="active"><a href="#">全部</a></li>
	      <li role="presentation"><a href="#">最新</a></li>
	      <li role="presentation"><a href="#">最热</a></li>
	      <li role="presentation"><a href="#">赞同最多</a></li>
	      <li role="presentation"><a href="#">正在上升</a></li>
	  </ul>
	</div>
	<div id="newspart">
	    {% for new in newslist %}
	    {% endfor %}
	</div>
    </div>
    <div id="personalpart" class="col-md-3 col-xs-3">
	<div id="personalcontainer">
	    
	</div>
    </div>
</div>
{% endblock %}

{% block body_script %}
{% endblock %}
