{% extends "userbase.html" %}

{% block link %}
<link rel="stylesheet" href="/static/css/omretnews/index.css">
<link rel="stylesheet" href="/static/bootstrap-3.3.5/css/buttons.css">
<script src="/static/other/chart/Chart.min.js"></script>
{% endblock %}

{% block title %}
Index
{% endblock %}

{% block body %}
<div class="progress">
</div>
<div id="topicintro">
</div>
<div id="indexcontainer">
    <div id="datapart" class="col-md-2 col-xs-2">
	<div id="signal_list">
	    <ul>
		{% for topic in topiclist %}
		
		    <li class="row">
			
			<div class="colorsignal pull-left" style="background:{{topic.0.color}}"></div>
			<div id="topicname" class="pull-left"><p>{{topic.0.name}}</p></div>
			
		    </li>
	
		{% endfor %}
	    </ul>
	</div>
	<div id="chartcontainer">
	    <canvas id="chart1"></canvas>
	</div>
    </div>
    <div id="newspart" class="col-md-7 col-xs-7">
	<div>
	  <ul id="navtabs" class="nav nav-tabs">
	      <li role="presentation" class="active"><a href="#">全部</a></li>
	      <li role="presentation"><a href="#">最新</a></li>
	      <li role="presentation"><a href="#">最热</a></li>
	      <li role="presentation"><a href="#">赞同最多</a></li>
	      <li role="presentation"><a href="#">正在上升</a></li>
	  </ul>
	</div>
	<div id="newspart">
	    <div>
		{% for new in newslist %}
            <div id="newitem-container">
                <a id="newslink" href="/arti{{ new.id }}/" target="_blank">
                <div class="row">
                    <div class="col-md-1 col-xs-1" id="newstag-container">
                        <div id="newstag" style="background:{{ new.topic.color }}">
                        </div>
                    </div>
                    <div>
                        <p class="col-md-11 col-xs-11" id="newtitle">{{ new.title }}</p>
                    </div>
                </div>
                </a>
                <div class="row">
                    <p class="col-md-4 col-xs-4" id="newauthor">作者:{{ new.author }}</p>
                    <p class="col-md-8 col-xs-8" id="newsubtime">{{ new.subtime }}</p>
                </div>
            </div>
		{% endfor %}
	    </div>
	</div>
    </div>
    <div id="personalpart" class="col-md-3 col-xs-3">
	<div id="personalcontainer">
	    <div id="personboard_title">
		<p><strong>个人动态</strong><small>Personal Dynamics</small></p>
	    </div>
	    <div id="personchartcontainer">
		<div id="articalinfo" class="row">
		    
		    <div id="art_daynum" class="numbox col-md-4 col-xs-4">
		      <div class="numboxcontainer" id="daycontainer">
			<div id="numbox_title">
			    Today
			</div>
			<div id="numbox_num">
			    {{numboxdata.0}}
			</div>
		      </div>
		    </div>

		    <div id="art_weeknum" class="numbox col-md-4 col-xs-4">
			<div class="numboxcontainer" id="weekcontainer">
			    <div id="numbox_title">
				Week
			    </div>
			    <div id="numbox_num">
				{{numboxdata.1}}
			    </div>
			</div>
		    </div>
		    
		    <div id="art_monthnum" class="numbox col-md-4 col-xs-4">
			<div class="numboxcontainer" id="monthcontainer">
			    <div id="numbox_title">
				Month
			    </div>
			    <div id="numbox_num">
				{{numboxdata.2}}
			    </div>
			</div>
		    </div>

		</div>
		<div id="articalchart">
		</div>
		
		<!-- click turn to post status page -->
		<!--
		<div id="poststatus">
		    发布文章/状态
		</div>
		-->
		<div id="postbuttonpart" class="row">
		    <a href="/postarti/" class="btn btn-primary" id="postarti-button">发布文章/状态</a>
		</div>
	    </div>
	</div>
    </div>
</div>
{% endblock %}

{% block body_script %}
<script>
/* get data from database */
    var data = [

        {% for topic in topiclist %}
            {
                value: {{ topic.1 }},
                color: "{{ topic.0.color }}"
            }
            {% if not forloop.last %},
            {% endif %}
        {% endfor %}

]
    var ctx = $("#chart1").get(0).getContext("2d");
    new Chart(ctx).Pie(data);
</script>
{% endblock %}
