{% extends "userbase.html" %}
{% block link %}
    <link rel="stylesheet" href="/static/css/omretnews/newindex.css">
    <script src="/static/js/omretnews/newindex.js"></script>
{% endblock %}

{% block title %}
    NewIndex
{% endblock %}

{% block body %}
    <div id="container">
        <div class="col-md-3 col-xs-3">
        </div>
        <div class="col-md-6 col-xs-6">
            <div id="new_container">
                <div id="new_headpart">
                    <div id="new_title">
                        {{ new.title }}
                    </div>
                    <div id="new_author">
                        {{ new.author }}
                    </div>
                    <div id="new_subtime">
                        {{ new.subtime }}
                    </div>
                </div>
                <div id="new_bodypart">
                    <div id="new_content">
                        {{ new.content | safe }}
                    </div>
                </div>
            </div>
            <div id="replypart">
                <form method="post">
                    {% csrf_token %}
                    <label>评论：</label>

                    <div class="form-group">
                        {{ commentform.content }}
                    </div>
                    <button id="reply_button" type="submit" class="btn btn-primary" name="comment">评论</button>
                </form>
            </div>
            <div id="commentpart">
                {% for comment in commentchatlist %}
                    <div id="commentitem">
                        <div id="commentuser">
                            {{ comment.0.comment_user }}
                        </div>
                        <div id="commentcontent">
                            {{ comment.0.comment_content }}
                        </div>
                        <div id="commentmenu">
                            <small>
                                {{ comment.0.comment_time|date:"Y-m-d G:i" }}
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-comment"></span>
                                <span class="replycomment" style="cursor:pointer">回复评论</span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </small>
                        </div>
                    </div>
                    {% for chat in comment.1 %}
                        <div id="chatitem">
                            {{ chat.chat_content }}
                        </div>
                    {% endfor %}
                    <div id="chatreplypart">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ chatform.content }}
                            </div>
                            <input type="hidden" name="commentid" value="{{ comment.0.id }}" />
                            <button id="chatreply_button" type="submit" class="btn btn-primary" name="chat">回复</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-3 col-xs-3">

        </div>
    </div>
{% endblock %}

{% block body_script %}
    <script>
        $(".replycomment").each(function () {
            $(this).click(function () {

            });
        });
    </script>
{% endblock %}

