{% extends "userbase.html" %}
{% block link %}
    <link rel="stylesheet" href="/static/css/omretnews/newindex.css">
{% endblock %}

{% block title %}
    NewIndex
{% endblock %}

{% block body %}
    <div id="container">
        <div class="col-md-3 col-xs-3">
        </div>
        <div class="col-md-6 col-xs-6">
            <div id="new_container">
                <div id="new_headpart">
                    <div id="new_title">
                        {{ new.title }}
                    </div>
                    <div id="new_author">
                        {{ new.author }}
                    </div>
                    <div id="new_subtime">
                        {{ new.subtime }}
                    </div>
                </div>
                <div id="new_bodypart">
                    <div id="new_content">
                        {{ new.content | safe }}
                    </div>
                </div>
            </div>
            <div id="replypart">
                <form method="post">
                    {% csrf_token %}
                    <label>评论：</label>

                    <div class="form-group">
                        {{ commentform.content }}
                    </div>
                    <button id="reply_button" type="submit" class="btn btn-primary">评论</button>
                </form>
            </div>
            <div id="commentpart">
                {% for comment in comments %}
                    <div id="commentitem">
                        <div id="commentuser">
                            {{ comment.comment_user }}
                        </div>
                        <div id="commentcontent">
                            {{ comment.comment_content }}
                        </div>
                        <div id="commentmenu">
                            <small>
                                {{ comment.comment_time|date:"Y-m-d G:i" }}
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-comment"></span>
                                <a href="#">回复评论</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </small>
                        </div>
                    </div>
                    <div id="chatitem">
                        {% for chat in comment.comment_chats %}
                            {{ chat.chat_content }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-3 col-xs-3">

        </div>
    </div>
{% endblock %}

{% block body_script %}
{% endblock %}

