{% extends "userbase.html" %}
{% block link %}
    <link rel="stylesheet" href="/static/css/omretnews/postarti.css">
    <script type="test/javascript" src="/static/other/tinymce/tiny_mce.js"></script>
    <script>

         tinyMCE.init({
         selector: "#omrettinymce"
         });

    </script>
{% endblock %}

{% block title %}
    Post Artical
{% endblock %}

{% block body %}
    <div>
        <div id="container">
            <div id="content-part">
                <form method="post">
                    <textarea id="omrettinymce">
                    </textarea>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_script %}

{% endblock %}
