{% extends "userbase.html" %}
{% block link %}
    <link rel="stylesheet" href="/static/css/omretnews/postarti.css">
    <script type="text/javascript" src="/static/other/tinymce/js/tinymce/tinymce.min.js"></script>
    <!--
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    -->
    <script>
         tinymce.init({
             selector:'#omrettinymce',
             theme:'modern',
             elementpath:false,
             menubar:false,
             resize:false,
             statusbar:false,
             height:300,
             language:'zh_CN',
             plugins:'link image preview fullscreen insertdatetime emoticons',
             toolbar1:'undo redo | bold italic underline strikethrough | alignleft aligncenter alignright | \
             styleselect | forecolor backcolor | cut copy paste | bullist numlist | removeformat',
             toolbar2:'link image | preview fullscreen | insertdatetime emoticons',
         });
    </script>
{% endblock %}

{% block title %}
    Post Artical
{% endblock %}

{% block body %}
    <div>
        <div id="container">
            <div id="content-part">
                <form method="post">
                    <textarea id="omrettinymce">
                    </textarea>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_script %}

{% endblock %}
