{% extends "userbase.html" %}
{% block link %}
	<link rel="stylesheet" href="/static/other/bootstrap-3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/other/bootstrap-3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/logreg/aboutUs.css">
	<script src="/static/other/jquery/jquery-2.1.4.min.js"></script>
	<script src="/static/other/bootstrap-3.3.5/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}
    About Us
{% endblock %}

{% block body %}
	<section class ="section">
		<div class="span12" style="margin:50px 0px 20px;">
			<h3><span>关于 · 我们</span></h3>
		</div>
		<div class="row userpart">
			<div class="col-lg-1">
			</div>
			<div class="col-lg-3 userpart-div">
			  <img class="img-circle" style="width:120px;height:120px" alt="Terry" 
				src="http://img5.imgtn.bdimg.com/it/u=226804191,4173125022&fm=206&gp=0.jpg" />
			  <h3>Terry</h3> 
			  <p></p>
			  <p></p>
			</div>
			<div class="col-lg-3 userpart-div">
			  <img class="img-circle" style="width:120px;height:120px" alt="Pitos" 
				src="http://img5.imgtn.bdimg.com/it/u=226804191,4173125022&fm=206&gp=0.jpg" />
			  <h3>Pitos</h3>
			  <p>学的不仅是技术，更是梦想！</p>
			  <p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>
			</div>
			<div class="col-lg-3 userpart-div">
			  <img class="img-circle" style="width:120px;height:120px" alt="Smiley" 
				src="http://img5.imgtn.bdimg.com/it/u=226804191,4173125022&fm=206&gp=0.jpg" />
			  <h3>Smiley</h3>        
			  <p>学的不仅是技术，更是梦想！</p>
			  <p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>
			</div>
		</div>
	</section>
{% endblock %}

{% block body_script %}
    <script>
       
    </script>
{% endblock %}
