{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="/static/css/logreg/signup.css">
<link rel="stylesheet" href="/static/other/bootstrap-3.3.5/css/buttons.css">
<!-- <script src="/static/js/logreg/signup.js"></script> -->
<link rel="stylesheet" href="/static/other/poshytip/tip-violet/tip-violet.css">

{% endblock %}

{% block title %}
Sign Up
{% endblock %}

{% block body %} 
<div class="container-fluid">
    <div class="row-fluid">
	<div class="span12">
	    <div class="page-header">
		<h1 id="header">
		    注册&nbsp;&nbsp;&nbsp<small>立即注册加入Omret!</small>
		</h1>
	    </div>
	    <div class="jumbotron">
		<h3 id="formtitle">Create a Omret Account</h3>
		<form class="form-horizontal" method="post">
		  {% csrf_token %}
		    <div class="control-group" id="formgroup">
			<label class="control-label">姓名</label>
			<div class="form-group">
			    {{signup_form.name}}
			</div>
			<label class="control-label">邮箱</label>
			<div class="form-group">
			  {{signup_form.email}}
			</div>
			<label class="control-label">密码</label>
			<div class="form-group">
			  {{signup_form.password}}
			</div>
			<label class="control-label">确认密码</label>
			<div class="form-group">
			  {{signup_form.confirm_password}}
			</div>

			<button id="signupbutton" type="submit" class="button button-3d button-royal button-rounded button-jumbo">Sign Up!</button>
		    </div>
		</form>   
	    </div>
	</div>
    </div>
</div>
<script src="/static/other/poshytip/jquery.poshytip.min.js"></script>
<script src="/static/js/logreg/signup.js"></script>

<script>
 versignup("#signup-name","name");
 versignup("#signup-email","email");
 $("#signup-confirmpassword").focus(function(){confirmpassword();});
</script>

{% endblock %}

<!--  
<form method ="post">
    {{signup_form.as_p}}
    <input type="submit" value="ok"/>
</form>
{{repeat_field}}
-->
